* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  font-family: 'Lucida Sans';
}
.width-wrapper {
  width: 80vw;
  margin: 0px auto;
}

/* Hero Section Start */

.hero-section {
  background-color: rgba(229, 84, 115, 0.1);
  height: 850px;
}

.hero-section-wrapper {
  display: flex;
}

.hero-section-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-section-left h1 {
  color: #272727;
  text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-size: 80px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin: 0px auto 10px;
}

.hero-section-left p {
  color: rgba(39, 39, 39, 0.6);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}

.click-me {
  font-size: 20px;
  max-width: 200px;
  padding: 20px 30px;
  border-radius: 8px;
  border: 0px;
  background: #e55473;
  color: white;
}

.hero-section-right img {
  margin-top: 50px;
  height: 800;
  width: 635;
}

/* Hero Section End */
/* Featured Section */
.featured-section {
  margin-top: 150px;
}

.featured-section-header {
  width: 594px;
  margin: 0px auto;
  padding: 20px;
}
.featured-section-header h2 {
  color: #272727;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
}

.featured-section-header p {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

.featured-section-main {
  display: flex;
  justify-content: space-between;
}
.featured-section-item {
  width: 464px;
  height: 538px;
  flex-shrink: 0;
}
.featured-section-item p {
  color: #272727;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 35px;
  text-decoration-line: underline;
  margin-top: 20px;
}

.featured-section-left {
  border-radius: 300px 300px 0px 0px;
  background: rgba(167, 33, 98, 0.15);
}

.featured-section-middle {
  border-radius: 300px 300px 0px 0px;
  background: rgba(5, 151, 160, 0.15);
}

.featured-section-right {
  border-radius: 300px 300px 0px 0px;
  background: rgba(71, 125, 17, 0.15);
}

.featured-section-img {
  width: 310px;
  height: 428px;
  display: block;
  margin: 0 auto;
}
/* Featured Section End */
/* delivery Section */
.part-ii {
  background-color: lightgray;
  margin: 50px 250px;
  padding: 100px;
}
.delivery-container {
  display: flex;
  justify-content: space-around;
  text-align: center;
}
.delivery-caption {
  margin: 20px;
}
/* Discount Section style */
.part-iii {
  background-color: blanchedalmond;
}
.banner-title {
  color: #272727;
  text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-size: 60px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin: 0px auto 10px;
}

.banner-description {
  color: rgba(39, 39, 39, 0.6);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  margin: 20px;
}
.discount-title {
  color: red;
}

.discount-container {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: 50px 250px;
  padding: 100px;
}

.discount-content {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* Social link Style */

.part-iv {
  margin: 50px 250px;
  padding: 100px;
}

.description {
  margin: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-container {
  display: flex;
  justify-content: center;
}

.social-content {
  margin: 20px;
}

/* Mail Section Style */
.part-v {
  width: 80%;
  margin: 0px auto;
  padding: 100px;
}

.mail-section {
  background-image: url('image/Rectangle\ 9.png');
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
.introducing {
  text-align: center;
  margin-top: 30px;
}

.mail-title {
  font-size: 50px;
  font-weight: 700;
  margin-top: 50px;
}
.mail-description {
  font-size: 20px;
  color: darkgoldenrod;
  margin-top: 20px;
}
.mail-here {
  display: flex;
  margin: 20px;
  padding: 20px;
}
.enter-mail {
  width: 60%;
  font-size: 20px;
  color: white;
  background-color: white;
  padding: 20px 30px;
  border-radius: 5px;
  border: 2px solid white;
  margin-right: 10px;
}
/* footer style */
footer {
  background-color: black;
  text-align: center;
  padding: 50px;
}
.footer-title-i {
  color: red;
}
.footer-title-ii {
  color: white;
}
.footer-description {
  color: white;
}
.footer-end {
  color: lightgray;
}
